.info{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-self: flex-start;
    padding: 2%;
    background: #1e1c4e;
    border-bottom: 6px solid #282386;
    margin-bottom: 1%;
}

.blockInfaId{
    display: flex;
    align-items: center;
}


.inscription{
    transform: rotate(90deg);
}

.nameText{
    font-size: 32px;
}

.textPhoto{
    display: flex;
    align-items: flex-start;
}

.photo{
    width: 128px;
    box-shadow: 0 10px 15px rgba(0, 0, 0,.8);
}