.blockDialogs{
    display: flex;
}

.dialog{
    font-family: oswald, Arial, Helvetica, sans-serif;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    height: 100%;
    background-color: #5E5E5E;
    margin-bottom: 10px;
}

.dlgLink{
    display: flex;
    width: 230px;
    margin: 0 auto;
}

.active{
    border-left: 7px solid #0094d8;
    background: #0094d84a;
    transform: scale(1.06);
}

.photoId{
    display: flex;
    align-items: flex-end;
}

.idDialog{
    display: flex;
    align-items: flex-end;
    position: relative;
    font-size: 16px;
}


.contentMessage{
    position: relative;
    left: 10px;
}

.photoId{
    width: 42px;
    height: 42px;    
}

.messages{
    width: 520px;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.5);
    height: 65vh;
    margin-bottom: 10px;
    padding: 20px;
    border-right: 3px solid #5e5e5e;
}

.msg{
    display: flex;
    align-items: center;
}

.msgImg{
    width: 42px;
    height: 42px;
}

.polyImg{
    width: 16px;
    height: 16px;
    transform: rotate(180deg);
}

.blockMessage{
    margin-top: 5px;
    margin-left: 15px;
}

.msgInfo{
    margin-right: 20px;
}

.blockId{
    display: flex;
    flex-direction: column;
}

.blockInputMsg{
    width: 100%;
    display: flex;
    justify-content: space-between;
}


.inputField{
    display: flex;
    border: 0;
    background-color: black;
    height: 45px;
    resize: none;
    outline: none;
    font-size: 16px;
    padding: 10px;
    width: 81%;
}

.blockBtn{
    width: 100px;
    display: flex;
    align-items: flex-end;
    align-self: flex-start;
    justify-content: space-around;
}

.btnFile{
    background-color: #4576D6;
}

.btnMsg{
    background-color: #45D66E;
}

.btnMsg, .btnFile{
    width: 32px;
    height: 32px;
    padding: 3px;
}

.btn{
    border: none;
    border-radius: 0;
    padding: 0;
    width: 28px;
    height: 28px;
}